Project_content.pdf
__pycache__/agent.cpython-39.pyc
__pycache__/pirate.cpython-39.pyc
__pycache__/agent.cpython-310.pyc
__pycache__/game.cpython-39.pyc
__pycache__/game.cpython-310.pyc
__pycache__/hint.cpython-39.pyc
__pycache__/hint.cpython-310.pyc
__pycache__/map.cpython-39.pyc
__pycache__/map.cpython-310.pyc
__pycache__/pirate.cpython-310.pyc
